$bgColorIcons  : #198CFF;
$bgColorLogoBlue: #155493;
$bgColorLogoBlueModal: #051b30ce;
$bgColorLogoCielo: #A2D1FF;
$fontColorWhite: #FFFF;
$bgSColorIcons : #EDF6FF;
$bgSColorIconsFlue : #0cf3ff;
$fontColorIcons: #9ed1fa;
$fontColorTitle: #8fc950;
$bgColorTitle: #C0DAA0;
$fontColorList : #000000;
$borderBottom: #e0dadab6;
$fontColorTitleLearning: #D6737F;
$fontFamily : Helvetica, sans-serif;
$fontSize   : 1.4rem;
$bi-arrow-bg-down-square  : #FFEFDC;
$bi-arrow-font-down-square: #D47A49;
