.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.gap{
  gap: 1rem;
}

.space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

.grid {
  display: grid;
}

.grid-center {
  place-content: center;
}

.flex-grow{
  flex: 1;
}