<div class="modal__formulario formulario-container formulario-close">
  <form id="formulario" name="formulario">
    <div class="formulario-container__moduloTask">
      <input class="styleInput" type="text" name="moduloTarea"  id="moduloTarea" placeholder="Ingrese el nombre del modulo"
      required>
    </div>
    <div class="formulario-container__descriptionTask">
      <textarea class="formulario-container__descriptionTask__space-task" name="moduloTarea" id="descriptionTask"
        placeholder="Ingrese la descripcion de su tarea" required ></textarea>
    </div>
    <div class="formulario-container__moduloTask">
      <input list="prioridad" class="styleInput" name="moduloTarea"  id="inputOptionPrioridad" placeholder="Prioridad tarea" required>
      <datalist id="prioridad">
        <option value="Alta">
        <option value="Media">
        <option value="Baja"> 
      </datalist>
    </div>
    <div class="formulario-container__moduloTask">
      <input type="date" id="myDate" value="" class="styleInput" name="moduloTarea"  id="inputFechaTask"placeholder="Escoja fecha a entregar la tarea" required>
    </div>
    <div class="formulario-container__moduloTask">
      <input list="estado" name="estado" class="styleInput" name=""  id="inputEstadoTask" placeholder="Estado tarea" required>
      <datalist id="estado">
        <option value="terminada">
        <option value="En proceso">
        <option value="sin empezar"> 
      </datalist>
    </div>
  </form>
  <div class="formulario-container__btn flex gap">
    <a id="btnSave" class="formulario-container__btn--btn flex-grow">Save task</a>
    <a id="closeModal" class="formulario-container__btn--close flex-grow">Close</a>
  </div>
</div>
<div class="msjTarea" id='msjTarea'>
  tarea agregada con exito
</div>
