<div class="modal__formulario formulario-container formulario-close">
  <form id="formulario" name="formulario">
    <div class="formulario-container__moduloTask">
      <input class="styleInput" type="text" name="moduloTarea"  id="moduloTarea" placeholder="Enter the task to be performed"
      required>
    </div>
    <div class="formulario-container__moduloTask">
      <input list="typeProject" class="styleInput" name="moduloTarea"  id="inputProject" placeholder="Type Projects" required>
      <datalist id="typeProject">
        <option value="Project Programming">
        <option value="Project Design">
      </datalist>
    </div>
    <div class="formulario-container__moduloTask">
      <input list="priority" class="styleInput" name="moduloTarea"  id="inputOptionPrioridad" placeholder="Priority task" required>
      <datalist id="priority">
        <option value="high">
        <option value="half">
        <option value="low"> 
      </datalist>
    </div>
    <div class="formulario-container__moduloTask">
      <input type="date" id="myDate" value="" class="styleInput" name="moduloTarea"  id="inputFechaTask"placeholder="Escoja fecha a entregar la tarea" required>
    </div>
    <div class="formulario-container__moduloTask">
      <input list="estado" name="estado" class="styleInput" name=""  id="inputEstadoTask" placeholder="without starting" required>
      <datalist id="estado">
        <option value="finished">
        <option value="In process">
      </datalist>
    </div>
  </form>
  <div class="formulario-container__btn flex gap">
    <a id="btnSave" class="formulario-container__btn--btn flex-grow">Save task</a>
    <a id="closeModal" class="formulario-container__btn--close flex-grow">Close</a>
  </div>
</div>
<div class="msjTarea" id='msjTarea'>
  tarea agregada con exito
</div>
