
<div style="font-size:40px; z-index: 4; 
    color: white; align-self: flex-end; 
    position: fixed; top: 0; padding: 1rem; transition: all 900ms ease-in ">
    <i class="bi bi-x-lg" id="closeModal"></i>
</div>
<div class="modal__formulario formulario-container formulario-close">
  <div class="formulario-container__moduloTask">
    <input class="styleInput" type="text" name="moduloTarea" id="moduloTarea" placeholder="Ingrese el nombre del modulo"
      required>
  </div>
  <div class="formulario-container__descriptionTask">
    <textarea class="formulario-container__descriptionTask__space-task" name="Task" id="description"
      placeholder="Ingrese la descripcion de su tarea" required></textarea>
  </div>
  <div class="formulario-container__btn">
    <a href="#" id="btnSave" class="formulario-container__btn--btn">Guardar Tarea</a>
  </div>
</div>
