<div class="app-projects__container-list">
  <div class="app-container-list__projects">
    <ul class="list-projects">
      <li class="list-projects__title"> <input type="radio" name="projects" id=""> PROJECTS</li>
      <li>EverDo</li>
      <li>Gemsmark</li>
      <li>Rubicon</li>
    </ul>
  </div>
  <div class="app-container-list__personal">
    <ul class="list-projects">
      <li class="list-projects__title-personal"> <input type="radio" name="Personal" id="personal"> PERSONAL
      </li>
      <li>Shopping</li>
      <li>Health</li>
      <li>Etertaiment</li>
    </ul>
  </div>
  <div class="app-container-list__learning">
    <ul class="list-projects">
      <li class="list-projects__title-learning"> <input type="radio" name="learning" id="learning"> LEARNING
      </li>
      <li>Electron</li>
      <li>Flexbox</li>
    </ul>
  </div>
</div>
<div class="app-projects__iconAdd">
  <div class="iconAdd__container">
    <i class="bi bi-plus-circle-fill bi-add--styles" id="showModal"></i>
  </div>
</div>