<section class="app-design__design">
  <div class="design__content-design">
    <p>EverDo - MVP</p>
    <h2>Design</h2>
    <ul class="content-design__ul">
      <li class="design__ul__li" id="design__ul__li_Todo"> <span class="li__time" id="contadorTareas">0</span> Todos </li>
      <li class="design__ul__li" id="design__ul__li_Projects"> <span class="li__time" id="contTaskProject">0</span> Project Programming</li>
      <li class="design__ul__li" id="design__ul__li_Design"> <span class="li__time" id="contTaskDesign">0</span> Project Design</li>
      <li class="design__ul__li" id="design__ul__li_Otros"> <span class="li__time" id="contTaskOtros">0</span> Otros</li>
    </ul>
  </div>
  <div class="content-design__time">
    <div class="time__content content-time">
      <span class="content-time__hours">All</span>
      <span class="content-time__hours">1h</span>
      <span class="content-time__hours">2h</span>
      <span class="content-time__hours">Work</span>
    </div>
  </div>
</section>
<section class="product-planning">
  <div class="containerListTask">
    <div class="listTask">
      <!-- contenido dinamico -->
    </div>
    <div class="lisTaskProjects">1</div>
    <div class="lisTaskDesign">2</div>
    <div class="lisTaskOtros">3</div>
      <i class="bi bi-three-dots"></i>
    </div>
  </div>
</section>
<section class="app-design__icons">
  <div class="product-design__container-icons">
    <div class="bi-check--green container-icons__anchor">
      <i class="bi bi-check"></i>
    </div>
    <div class="bi-x--red container-icons__anchor">
      <i class="bi bi-x"></i>
    </div>
    <div class="bi-calendar--pourpes container-icons__anchor">
      <i class="bi bi-calendar"></i>
    </div>
    <div class="bi-bookmark-check--green container-icons__anchor">
      <i class="bi bi-bookmark-check"></i>
    </div>
    <div class="bi-search--blackBlue container-icons__anchor">
      <i class="bi bi-search"></i>
    </div>
    <div class="bi-arrow-down-square--orange container-icons__anchor">
      <i class="bi bi-arrow-down-square"></i>
    </div>
  </div>
  <div class="product-design__title bi-search--blackBlue container-icons__anchor">
    <i class="bi bi-plus"></i>
  </div>
</section>